body {
  background: linear-gradient(135deg, #0d1117, #161b22);
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card {
  background: #0d1117;
  padding: 25px;
  width: 380px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #2ea043;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #238636;
}

.export {
  background: #1f6feb;
  margin-top: 10px;
}

.progress-container {
  width: 100%;
  height: 10px;
  background: #21262d;
  border-radius: 10px;
  margin-top: 15px;
  overflow: hidden;
}

#progress {
  height: 100%;
  width: 0%;
  background: #2ea043;
  transition: width 0.2s;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #161b22;
  margin-top: 8px;
  padding: 8px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons span {
  cursor: pointer;
  margin-left: 10px;
}
