body {
  background: #0d1117;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.box {
  background: #161b22;
  padding: 20px;
  width: 320px;
  margin: 20px auto;
  border-radius: 12px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #2ea043;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #238636;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #161b22;
  margin: 8px auto;
  width: 340px;
  padding: 10px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons span {
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
}

.icons span:hover {
  opacity: 0.7;
}
